In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train_features.csv')

In [3]:
df.columns

Index(['building_id', 'timestamp', 'meter_reading', 'anomaly', 'site_id',
       'primary_use', 'square_feet', 'year_built', 'floor_count',
       'air_temperature', 'cloud_coverage', 'dew_temperature',
       'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction',
       'wind_speed', 'air_temperature_mean_lag7', 'air_temperature_max_lag7',
       'air_temperature_min_lag7', 'air_temperature_std_lag7',
       'air_temperature_mean_lag73', 'air_temperature_max_lag73',
       'air_temperature_min_lag73', 'air_temperature_std_lag73', 'hour',
       'weekday', 'month', 'year', 'weekday_hour', 'hour_x', 'hour_y',
       'month_x', 'month_y', 'weekday_x', 'weekday_y', 'building_weekday_hour',
       'building_weekday', 'building_month', 'building_hour', 'building_meter',
       'is_holiday', 'gte_hour', 'gte_weekday', 'gte_month', 'gte_building_id',
       'gte_primary_use', 'gte_site_id', 'gte_meter', 'gte_meter_hour',
       'gte_meter_weekday', 'gte_meter_month', 'gte_meter_building_id',
       'gte_meter_primary_use', 'gte_meter_site_id',
       'gte_meter_building_id_hour', 'gte_meter_building_id_weekday',
       'gte_meter_building_id_month'],
      dtype='object')

In [4]:
df['primary_use'].value_counts()

Education                        700790
Office                           542577
Entertainment/public assembly    200345
Lodging/residential              114050
Public services                   61461
Healthcare                        43919
Services                          26306
Parking                           17568
Manufacturing/industrial          17568
Food sales and service             8784
Other                              8655
Religious worship                  7471
Name: primary_use, dtype: int64

In [126]:
categories=['Education',
'Office',
'Entertainment/public assembly',
'Lodging/residential',
'Public services',
'Healthcare']

In [127]:
def get_missing_hours(building):
    test=pd.read_csv('dataset/train/{}.csv'.format(building))
    test['timestamp'] = pd.to_datetime(test['timestamp'], format='%Y/%m/%d %H:%M:%S')
    existing_hours = test['timestamp'].dt.floor('H').unique()

    start_date = test['timestamp'].min().replace(minute=0, second=0)
    end_date = test['timestamp'].max().replace(minute=0, second=0)
    date_range = pd.date_range(start=start_date, end=end_date, freq='H')
    # Check if all hours in the date range are present
    all_hours_present = all(hour in existing_hours for hour in date_range)
    missing_hours = [hour for hour in date_range if hour not in existing_hours]
    return(len(missing_hours))

In [128]:
#extract the number of 0 in the building

df.loc[df['building_id']==dict[category], 'anomaly'].value_counts()

0    8683
1      79
Name: anomaly, dtype: int64

In [129]:
#for each category, count the number of NaNs for each building_id
data=pd.DataFrame()
dict={}
for category in categories:
    print(category)
    for ind in range(5):
        tmp=df[df['primary_use']==category]
        tmp.reset_index(inplace=True)
        
        if ind>0:
            pass
        else:
            dict_tmp={}
            for building_id in tmp['building_id'].unique():
                #update dict_tmp with key=building_id and value is the number of NANs
                dict_tmp[building_id]=tmp[tmp['building_id']==building_id].isnull().sum().sum() + get_missing_hours(building_id)
            #update dict with key=category and value=the key of the building_id with the least NANs

        
        min_key = min(dict_tmp, key=dict_tmp.get)

        # Remove the key-value pair with the minimum value
        if ind>0:
            del dict_tmp[min_key]
        dict[category]=min(dict_tmp, key=dict_tmp.get)
        new_data={"building":dict[category],"missing":tmp[tmp['building_id']==dict[category]].isnull().sum().sum() + get_missing_hours(dict[category]),"category":category,"anomalies":df.loc[df['building_id']==dict[category], 'anomaly'].value_counts()[1],"total":df.loc[df['building_id']==dict[category], 'anomaly'].value_counts()[0]+df.loc[df['building_id']==dict[category], 'anomaly'].value_counts()[1]}
        data = data.append(new_data, ignore_index=True)
        #dict[category]=min(dict_tmp, key=dict_tmp.get)

Education

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

Office

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

Entertainment/public assembly

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

Lodging/residential

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

Public services

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

Healthcare

/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)
/tmp/ipykernel_11641/2711445086.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_data, ignore_index=True)

In [98]:
dict

{}

In [130]:
data

    building  missing                       category  anomalies  total
0        118        0                      Education        166   8784
1        121        0                      Education        184   8784
2        697        0                      Education        158   8784
3        623        1                      Education        144   8783
4        253        2                      Education        114   8782
5       1074        0                         Office        196   8784
6       1143        0                         Office         80   8784
7        290        1                         Office        309   8783
8       1073        1                         Office        143   8784
9       1219        1                         Office        175   8784
10      1147        0  Entertainment/public assembly        125   8784
11       666        4  Entertainment/public assembly         95   8784
12       254        6  Entertainment/public assembly        156   8783
13       667        7  Entertainment/public assembly        211   8784
14       658       11  Entertainment/public assembly        138   8784
15      1311       34            Lodging/residential        278   8784
16       240       59            Lodging/residential         80   8782
17      1309       63            Lodging/residential        269   8784
18      1310       64            Lodging/residential        253   8784
19      1306       66            Lodging/residential        276   8784
20       680       11                Public services        155   8784
21       356       20                Public services        101   8782
22       677       54                Public services         86   8784
23      1266       56                Public services        225   8759
24      1272      625                Public services        234   8784
25      1245       37                     Healthcare        185   8784
26      1285      108                     Healthcare        170   8784
27      1300      643                     Healthcare        162   8784
28      1241     3125                     Healthcare         85   8783
29      1303     3150                     Healthcare        214   8784

In [131]:
agg_df = data.groupby('category').agg({'building': list, 'missing': 'sum', 'anomalies': 'sum', 'total': 'sum'}).reset_index()

In [132]:
agg_df

,category,building,missing,anomalies,total
0,Education,"[118, 121, 697, 623, 253]",3,766,43917
1,Entertainment/public assembly,"[1147, 666, 254, 667, 658]",28,725,43919
2,Healthcare,"[1245, 1285, 1300, 1241, 1303]",7063,816,43919
3,Lodging/residential,"[1311, 240, 1309, 1310, 1306]",286,1156,43918
4,Office,"[1074, 1143, 290, 1073, 1219]",3,903,43919
5,Public services,"[680, 356, 677, 1266, 1272]",766,801,43893

In [133]:
agg_df['anomaly%'] = 100 * agg_df['anomalies'] / agg_df['total']
agg_df['missing%'] = 100 * agg_df['missing'] / agg_df['total']

In [138]:
agg_df.to_csv('pick_buildings.csv', index=False)

In [139]:
agg_df

,category,building,missing,anomalies,total,anomaly%,missing%
0,Education,"[118, 121, 697, 623, 253]",3,766,43917,1.744199,0.006831
1,Entertainment/public assembly,"[1147, 666, 254, 667, 658]",28,725,43919,1.650766,0.063754
2,Healthcare,"[1245, 1285, 1300, 1241, 1303]",7063,816,43919,1.857966,16.081878
3,Lodging/residential,"[1311, 240, 1309, 1310, 1306]",286,1156,43918,2.632178,0.651214
4,Office,"[1074, 1143, 290, 1073, 1219]",3,903,43919,2.056058,0.006831
5,Public services,"[680, 356, 677, 1266, 1272]",766,801,43893,1.824892,1.745153

In [91]:
dict

{'Education': 181,
 'Office': 1074,
 'Entertainment/public assembly': 658,
 'Lodging/residential': 942}

In [93]:
#show the nan counts for each building_id in dict
for key in dict.keys():
    print(key,":",dict[key])
    print(df[df['building_id']==dict[key]].isnull().sum().sum())

Education : 181
0
Office : 1074
0
Entertainment/public assembly : 658
11
Lodging/residential : 942
148

In [94]:
for item in dict:
    print(dict[item])
    print(df.loc[df['building_id']==dict[item], 'anomaly'].value_counts())

181
0    8674
1     105
Name: anomaly, dtype: int64
1074
0    8588
1     196
Name: anomaly, dtype: int64
658
0    8646
1     138
Name: anomaly, dtype: int64
942
0    8633
1     131
Name: anomaly, dtype: int64

In [14]:
366*24

8784

In [70]:
test=pd.read_csv('dataset/train/844.csv')
test

                timestamp  building_id  meter_reading  anomaly  filled
0     2016-01-01 00:00:00          844          14.80        0       0
1     2016-01-01 01:00:00          844          17.61        0       0
2     2016-01-01 02:00:00          844          17.68        0       0
3     2016-01-01 03:00:00          844          16.90        0       0
4     2016-01-01 04:00:00          844          16.74        0       0
...                   ...          ...            ...      ...     ...
7954  2016-12-31 19:00:00          844          18.63        0       0
7955  2016-12-31 20:00:00          844          17.61        0       0
7956  2016-12-31 21:00:00          844          17.45        0       0
7957  2016-12-31 22:00:00          844          17.72        0       0
7958  2016-12-31 23:00:00          844          17.74        0       0

[7959 rows x 5 columns]

In [95]:
buildings=[1147, 666, 254, 667, 658]
dict_missing={}
#print(sum(buildings))
for building in buildings:    
# Get the unique hours from the DataFrame
    test=pd.read_csv('dataset/train/{}.csv'.format(building))
    test['timestamp'] = pd.to_datetime(test['timestamp'], format='%Y/%m/%d %H:%M:%S')
    existing_hours = test['timestamp'].dt.floor('H').unique()

    start_date = test['timestamp'].min().replace(minute=0, second=0)
    end_date = test['timestamp'].max().replace(minute=0, second=0)
    date_range = pd.date_range(start=start_date, end=end_date, freq='H')
    # Check if all hours in the date range are present
    all_hours_present = all(hour in existing_hours for hour in date_range)
    print(f'All hours present: {all_hours_present}')
    missing_hours = [hour for hour in date_range if hour not in existing_hours]

    # Print the missing hours
    print("Missing Hours:")
    for hour in missing_hours:
        print(hour.strftime('%Y/%m/%d %H:%M:%S'))
    dict_missing[building]=len(missing_hours)
print(dict_missing)
print(sum([int(dict_missing[building]) for building in buildings]))

All hours present: True
Missing Hours:
All hours present: True
Missing Hours:
All hours present: False
Missing Hours:
2016/03/23 16:00:00
All hours present: True
Missing Hours:
All hours present: True
Missing Hours:
{1147: 0, 666: 0, 254: 1, 667: 0, 658: 0}
1

In [89]:
print(len(missing_hours))

0

In [10]:
test2=test.copy()

In [11]:
# Create a date range for the desired time period
test2['timestamp'] = pd.to_datetime(test2['timestamp'], format='%Y/%m/%d %H:%M:%S')

start_date = test2['timestamp'].min().replace(minute=0, second=0)
end_date = test2['timestamp'].max().replace(minute=0, second=0)
date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Create a DataFrame with the complete date range
complete_df = pd.DataFrame({'timestamp': date_range})
restest2ult_df = complete_df.merge(test2, on='timestamp', how='left')
test2['meter_reading'] = test2['meter_reading'].interpolate(method='linear')
test2.set_index('timestamp', inplace=True)
test2

                     building_id  meter_reading  anomaly  filled
timestamp
2016-01-01 00:00:00          246         302.50        0       0
2016-01-01 01:00:00          246         304.65        0       0
2016-01-01 02:00:00          246         304.62        0       0
2016-01-01 03:00:00          246         303.33        0       0
2016-01-01 04:00:00          246         302.76        0       0
...                          ...            ...      ...     ...
2016-12-31 19:00:00          246         328.67        0       0
2016-12-31 20:00:00          246         326.50        0       0
2016-12-31 21:00:00          246         314.44        0       0
2016-12-31 22:00:00          246         306.91        0       0
2016-12-31 23:00:00          246         305.01        0       0

[8782 rows x 4 columns]

In [23]:
dict

{'Education': 121,
 'Office': 290,
 'Healthcare': 1285,
 'Lodging/residential': 240}

In [36]:
#show the nan counts for each building_id in dict
for key in dict.keys():
    print(key)
    print(df[df['building_id']==dict[key]].isnull().sum().sum())

Education
0
Office
0
Entertainment/public assembly
7
Lodging/residential
66

In [14]:
for item in dict:
    print(dict[item])
    print(df.loc[df['building_id']==dict[item], 'anomaly'].value_counts())

118
0    8618
1     166
Name: anomaly, dtype: int64
246
0    8685
1      97
Name: anomaly, dtype: int64
1245
0    8599
1     185
Name: anomaly, dtype: int64
1311
0    8506
1     278
Name: anomaly, dtype: int64
1141
0    8613
1     171
Name: anomaly, dtype: int64